<div class="container">
    <div class="jumbotron">
        <h1>{{t "welcome.to"}} TransitCo</h1>
        <p class="lead">We are a modern public company</p>
        <a class="btn btn-primary btn-lg" href="roadmap" role="button">What's on the roadmap</a>
    </div>
</div>
{{outlet}}