<div class="container">
    <div class="jumbotron">
        <h1>{{t "welcome.to"}} TransitCo</h1>
        <p class="lead">We are a modern public company</p>
        {{#link-to "roadmap"}}
            What's on the Roadmap
        {{/link-to}}
    </div>
</div>
{{outlet}}