<div class="container">
<h1>TransitCo Roadmap</h1>
<p>This is the public roadmap for TransitCo Products and Services (serviceOffer, GTFSloader...).</p>

<h3>Introduction</h3>
<p>We want to share with our customers what we plan to do early and often so we can get your feedback on if these are the right things for us to be focusing on. This also allows our customers to make early decisions based on what we are/are not building.</p>
<h3>Contributing</h3>
<p>You can create issues to submit ideas. Watch out for duplicates!</p>
<p>Also you can vote for ideas submitted so it gives it more visibility.</p>

<p>This great roadmap methodology is inspired by Docker: https://github.com/docker/roadmap</p>

<h2>The Roadmap</h2>
    {{!-- <div id="root"></div>
    <script src="getissues.js"></script> --}}
    </div>
{{outlet}}